{% extends "layout.html" %}

{% block title %}SZU.test{% endblock %}
{% block lead %}zgg好帅{% endblock %}

{% block page_content %}
    



<h1>szuigem牛</h1>
<!-- igem神级团队合照 -->
<img src="https://static.igem.wiki/teams/4653/wiki/weixin-image-20230616153936.jpg" alt="" width="300" height="150">
<br>
<!-- zgg的个人帅照 -->
<img src="https://static.igem.wiki/teams/4653/wiki/weixin-image-20230616154019.jpg" alt="" width="300" height="150">
<!-- 随意放一个表格在这里看看 -->
<table border="1" width="600" height="400" bgcolor="skyblue" bordercolor="white" cellspacing="0" align="center">
    <caption>阿里职级薪资</caption>
    <colgroup span="1" bgcolor="deepskyblue"></colgroup>
    <thead align="left">
        <tr>
            <th rowspan="2">序号</th>
            <th colspan="6">技术岗位与管理岗位的职级薪资</th>
        </tr>
        <tr>
            <th>P序列</th>
            <th>P级名称</th>
            <th>M序列</th>
            <th>M级名称</th>
            <th>薪资</th>
            <th>股票</th>
        </tr>
    </thead>
    <tbody>
        <tr align="center">
            <td>1</td>
            <td>P6</td>
            <td>资深工程师</td>
            <td>M1</td>
            <td>主管</td>
            <td>20w-35w</td>
            <td>几乎不授予</td>
        </tr>
        <tr align="center">
            <td>2</td>
            <td>P7</td>
            <td>技术专家</td>
            <td>M2</td>
            <td>经理</td>
            <td>30w-50w</td>
            <td>2400股</td>
        </tr>
        <tr align="center">
            <td>3</td>
            <td>P8</td>
            <td>高级专家</td>
            <td>M3</td>
            <td>高级经理</td>
            <td>45w-80w</td>
            <td>6400股</td>
        </tr>
        <tr align="center">
            <td>4</td>
            <td>P9</td>
            <td>资深专家</td>
            <td>M4</td>
            <td>总监</td>
            <td>80w-100w</td>
            <td>16000股</td>
        </tr>
        <tr align="center">
            <td>5</td>
            <td>P10</td>
            <td>研究员</td>
            <td>M5</td>
            <td>高级总监</td>
            <td>150w+</td>
            <td>20000股</td>
        </tr>
    </tbody>
    <tfoot bgcolor="yellow">
        <tr>
            <th>说明</th>
            <th colspan="6">马云在阿里的级别是M10</th>
        </tr>
    </tfoot>
</table>
{% endblock %}